.headr-top{/*ヘッダー系統始め*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  background: white;
}
.headr-logo{
  display: flex;
  flex-direction: row;
}
.header-nav{/*ナビ系統始め*/
  position: absolute;
  top:25px;
  right: 0px;
}
.header-nav__table{
  margin-top: 70px;
  padding-right:20px;
}
.header-nav__table__font{/*ヘッダー・ナビ系統終わり*/
  text-decoration:none;
  color: black;
  line-height: 12px;
  padding-top: 35px;
}
a{
  text-decoration: none;
  color: black;
}
.nav{
  position: absolute;
  top:0;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}
.nfont1{
  padding-top: 50px;
  line-height: 36px;
}
.nfont2{
  line-height: 36px;
}
.nav ul{
  padding-top: 80px;
}
.nav ul li{
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 95%;
  top: -25px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0px;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0px;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
@media screen and (max-width: 768px){
  .header-nav__table{
    display: none;
  }
  .nav{
    display: block;
  }
  .menu{
  display: block;
  }
}
@media screen and (min-width: 769px) {
  .nav{
    display: none;
  }
  .menu{
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .nav{
    display: none;
  }
  .menu{
    display: none;
  }
}
.main-top__pic{/*メイン1系統始め*/
  height: 800px;
  background-image: url("../img/mv.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-top__font1{
  padding-top: 400px;
  color: white;
  font-weight:bolder;
  font-size: 48px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-top__font2{/*メイン1系統終わり*/
  padding-top: 15px;
  color: white;
  font-weight:bold;
  font-size: 24px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2__back{/*メイン2系統始め*/
  height: 200px;
  background-color:rgba(12, 11, 11, 0.856);
}
.main2__font1{
  font-size: 24px;
  color: white;
  font-weight:bold;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.main2__font2{/*メイン2系統終わり*/
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px){
  .main2__back{/*メイン2系統始め*/
  height: 270px;
  background-color:rgba(12, 11, 11, 0.856);
}
}
.main3__box{/*メイン3系統始め*/
  display: grid;
  grid-template-rows: 125px 450px 450px 125px;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}
.main3-top__font{
  font-size: 32px;
  font-weight:bold;
  padding-top: 40px;
  padding-bottom: 20px;
  grid-column: 1/5;
  grid-row: 1/2;
  margin: auto;
  } 
.main-top__pic-font1{
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-top__pic-font2{
  line-height: 24px;
}
.main3-pic__box1{
  grid-column: 2/3;
  grid-row: 2/3;
}
.main3-pic__box2{
  grid-column: 3/4;
  grid-row: 2/3;
}
.main3-pic__box3{
  grid-column: 2/3;
  grid-row: 3/4;
}
.main3-pic__box4{
  grid-column: 3/4;
  grid-row: 3/4;
}
.main3-botan{/*メイン3系統終わり*/
  grid-column: 2/4;
  grid-row: 4/5;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:30px;
  padding-right: 30px;
  font-weight:bold;
  font-size: 20px;
  text-decoration:none;
  color: white;
  border: solid 2px #ff0000;
  background-color: #ff0000;
}
.main3-botan:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
@media screen and (max-width: 768px){
.main-top__pic{/*メイン1系統始め*/
  height: 350px;
  background-image: url("../img/mv.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-top__font1{
  padding-top: 20%;
  color: white;
  font-weight:bolder;
  font-size: 48px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main3__box{/*メイン3系統始め*/
  display: grid;
  grid-template-rows: 125px 450px 450px 450px 450px 125px;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}
.main-top__pic-font1{
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-top__pic-font2{
  line-height: 24px;
}
.main3-pic__box1{
  grid-column: 2/4;
  grid-row: 2/3;
}
.main3-pic__box2{
  grid-column: 2/4;
  grid-row: 3/4;
}
.main3-pic__box3{
  grid-column: 2/4;
  grid-row: 4/5;
}
.main3-pic__box4{
  grid-column: 2/4;
  grid-row: 5/6;
}
.main3-botan{/*メイン3系統終わり*/
  grid-column: 2/4;
  grid-row: 6/7;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:30px;
  padding-right: 30px;
  font-weight:bold;
  font-size: 20px;
  text-decoration:none;
  color: white;
  border: solid 2px #ff0000;
  background-color: #ff0000;
}
}
.main4-box{/*ニュース始め*/
  display: grid;
  grid-template-rows: 50px  50px  25px 250px 25px;
  grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
  background-color:rgba(12, 11, 11, 0.856);
  position: relative;
}
.main4-top-left{
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
  font-weight:bolder;
  font-size: 28px;
  padding-top:20px;
}
.main4-top-right{
  color: white;
  font-weight:bold;
  font-size: 20px;
  text-decoration:none;
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  position: absolute;
  top:60px;
  right: 120px;
  padding: 10px 15px 10px 15px;
}
.main4-top-right:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
.main4-table__box{
  grid-column: 2/5;
  grid-row: 4/5;
  margin: auto;
}
.main4-table__font1-box{
  border-bottom: solid 8px rgba(12, 11, 11, 0.856);
  background-color:white ;
}
.main4-table__font1-box:hover{
  background: rgba(211, 209, 209, 0.875);
  color:black;
  border-bottom: solid 8px rgba(12, 11, 11, 0.856);
}
.main4-table__font1{
  text-decoration:none;
  color: black;
  line-height: 48px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main4-table__font2{
  text-decoration:none;
  color: black;
  line-height: 48px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main4-table__font2-box{
  border-bottom: solid 8px rgba(12, 11, 11, 0.856);
  background-color:white ;
}
.main4-table__font2-box:hover{
  background: rgba(211, 209, 209, 0.875);
  color:black;
  border-bottom: solid 8px rgba(12, 11, 11, 0.856);
}
.main4-table__font3{
  text-decoration:none;
  color: black;
  line-height: 48px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main4-table__font3-box{
  background-color:white ;
}
.main4-table__font3-box:hover{
  background: rgba(211, 209, 209, 0.875);
  color:black;
}
.main4-table__font4{/*ニュースend*/
  font-weight:bold;
  padding-right: 30vw;
}
@media screen and (max-width: 768px){
.main4-top-right{
  color: white;
  font-weight:bold;
  font-size: 20px;
  text-decoration:none;
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  position: absolute;
  top:60px;
  right: 45px;
  padding: 5px 10px 5px 10px;
}
.main4-top-right:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
.main4-top-left{
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
  font-weight:bolder;
  font-size: 24px;
  padding-top:20px;
}
.main4-table__font4{
  font-weight:bold;
  padding-right: 2vw;
}
}
.main5__box{/*ブログstart*/
  display: grid;
  grid-template-rows: 25px 350px 25px;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
}
.main5-top__font{
  padding-top: 50px;
  padding-bottom: 10px;
  margin: auto;
  font-weight:bolder;
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.main5-blog__box1{
  grid-column: 2/3;
  grid-row: 2/3;
}
.pic1{
  background-color: white;
}
.pic1:hover{
  filter: opacity(70%);
  background:white;
  color:white;
  border: solid 2px white;
}
.main5-blog__font1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.main5-blog__font2{
  font-weight:bold;
  text-decoration:none;
  color: black;
  font-size: 18px;
}
.main5-blog__box2{
  grid-column: 3/4;
  grid-row: 2/3;
}
.main5-blog__box3{
  grid-column: 4/5;
  grid-row: 2/3;
}
.main5-bottom_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main5-bottom_font{/*ブログend*/
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  font-weight:bold;
  text-decoration:none;
  color: white;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.main5-bottom_font:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
@media screen and (max-width: 768px){
.main5__box{/*ブログstart*/
  display: grid;
  grid-template-rows: 25px 400px 400px 400px 25px;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
}
.main5-top__font{
  padding-top: 50px;
  padding-bottom: 10px;
  margin: auto;
  font-weight:bolder;
  font-size: 36px;
  display: flex;
  justify-content: center;
}
.main5-blog__box1{
  grid-column: 2/6;
  grid-row: 2/3;
}
.main5-blog__font1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.main5-blog__font2{
  font-weight:bold;
  text-decoration:none;
  color: black;
  font-size: 18px;
}
.main5-blog__box2{
  grid-column: 2/6;
  grid-row: 3/4;
}
.main5-blog__box3{
  grid-column: 2/6;
  grid-row: 4/5;
}
.main5-bottom_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main5-bottom_font{/*ブログend*/
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  font-weight:bold;
  text-decoration:none;
  color: white;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
}
.main6__box{/*採用start*/
  display: grid;
  grid-template-rows: 50px 250px 50px;
  grid-template-columns: 2fr 2fr;
}
.main6-left__box{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
}
.main6-left__box:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
.main6__font{
  font-weight:bolder;
  text-decoration:none;
  color: white;
  font-size: 36px;
}
.main6-right__box{/*採用end*/
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 11, 11, 0.856);
}
.main6-right__box:hover{
  background: #5a5959;
  color:white;
  border: solid 2px #5a5959;
}
.main7__box{/*問い合わせstart*/
  display: grid;
  grid-template-rows: 35px 50px 75px 75px 50px;
  background-color: rgba(218, 218, 218, 0.957);
}
.main7__font1{
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bolder;
  text-decoration:none;
  font-size: 32px;
}
.main7__font2{
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
.main7__font3{
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main7__font4{/*問い合わせend*/
  font-weight:bolder;
  text-decoration:none;
  color: white;
  font-size: 20px;
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.main7__font4:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
.footer__box{
  background-color: rgba(12, 11, 11, 0.856);
  height: 60px;
  position: relative;
}
.footer-left__font{
  color: white;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.footer-right__font1{
  color: white;
  padding: 10px;
  padding-top: 20px;
  text-decoration:none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  position: absolute;
  top:4%;
  right: 5%;
}
.footer-right__font2{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border-right:solid 1px white;
}
.footer-right__font3{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
@media screen and (max-width: 768px){
.footer__box{
  background-color: rgba(12, 11, 11, 0.856);
  height: 200px;
  position: relative;
}
.footer-left__font{
  color: white;
  padding-left: 10%;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-top: 95px;
}
.footer-right__font1{
  color: white;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration:none;
  width:90px;
  padding-right: 20%;
  line-height: 20px;
}
.footer-right__font2{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border:none;
}
.footer-right__font3{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
}