.headr-top{/*ヘッダー系統始め*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  background: white;
}
.headr-logo{
  display: flex;
  flex-direction: row;
}
.header-nav{/*ナビ系統始め*/
  position: absolute;
  top:25px;
  right: 0px;
}
.header-nav__table{
  margin-top: 70px;
  padding-right:20px;
}
.header-nav__table__font{/*ヘッダー・ナビ系統終わり*/
  text-decoration:none;
  color: black;
  line-height: 12px;
  padding-top: 35px;
}
a{
  text-decoration: none;
  color: black;
}
.nav{
  position: absolute;
  top:0;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}
.nfont1{
  padding-top: 50px;
  line-height: 36px;
}
.nfont2{
  line-height: 36px;
}
.nav ul{
  padding-top: 80px;
}
.nav ul li{
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 95%;
  top: -25px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0px;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0px;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}
@media screen and (max-width: 768px){
  .header-nav__table{
    display: none;
  }
  .nav{
    display: block;
  }
  .menu{
  display: block;
  }
}
@media screen and (min-width: 769px) {
  .nav{
    display: none;
  }
  .menu{
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .nav{
    display: none;
  }
  .menu{
    display: none;
  }
}
.main-top__pic{/*メイン1系統始め*/
  height: 550px;
  background-image: url("../img/mv.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-top__font1{
  padding-top: 23%;
  color: white;
  font-weight:bolder;
  font-size: 48px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}/*end*/
.main2-box{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 50px 250px 250px 250px 250px 25px;
}
.main2-pic1{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
.main2-pic1__font1{
  font-weight:bolder;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  padding-bottom: 5px;
  padding-left: 15px;
}
.main2-pic1__font2{
  display: flex;
  align-items: flex-start;
  padding-bottom: 140px;
  padding-left: 15px;
}
.main2-pic1__font3{
  font-weight:bolder;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  padding-left: 15px;
}
.main2-pic1__font4{
  display: flex;
  align-items: flex-start;
  padding-bottom: 115px;
  padding-left: 15px;
  line-height: 24px;
}
.main2-pic2{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
}
.main2-pic3{
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
}
.main2-pic4{
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
}
@media screen and (max-width: 768px){
.main-top__pic{/*メイン1系統始め*/
  height: 400px;
  background-image: url("../img/mv.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-top__font1{
  padding-top: 30%;
  color: white;
  font-weight:bolder;
  font-size: 48px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}/*end*/
.main2-box{
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 50px 500px 500px 500px 500px 25px;
}
.main2-pic1{
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 30px;
}
.main2-pic1__font1{
  font-weight:bolder;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main2-pic1__font2{
  display: flex;
  align-items: flex-start;
  line-height: 24px;
}
.main2-pic1__font3{
  font-weight:bolder;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main2-pic1__font4{
  display: flex;
  align-items: flex-start;
  padding-bottom: 115px;
  padding-left: 15px;
  line-height: 24px;
}
.main2-pic2{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px;
  padding-top: 30px;
}
.main2-pic3{
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px;
  padding-top: 30px;
}
.main2-pic4{
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: solid 1px;
  padding-top: 30px;
}
}

.main7__box{/*問い合わせstart*/
  display: grid;
  grid-template-rows: 35px 50px 75px 75px 50px;
  background-color: rgba(218, 218, 218, 0.957);
}
.main7__font1{
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bolder;
  text-decoration:none;
  font-size: 32px;
}
.main7__font2{
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}
.main7__font3{
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main7__font3{
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main7__font4{/*問い合わせend*/
  font-weight:bolder;
  text-decoration:none;
  color: white;
  font-size: 20px;
  border: solid 2px #ff0000;
  background-color:#ff0000 ;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.main7__font4:hover{
  background: #ee6e6e;
  color:white;
  border: solid 2px #ee6e6e;
}
.footer__box{
  background-color: rgba(12, 11, 11, 0.856);
  height: 60px;
  position: relative;
}
.footer-left__font{
  color: white;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.footer-right__font1{
  color: white;
  padding: 10px;
  padding-top: 20px;
  text-decoration:none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  position: absolute;
  top:4%;
  right: 5%;
}
.footer-right__font2{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border-right:solid 1px white;
}
.footer-right__font3{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
@media screen and (max-width: 768px){
.footer__box{
  background-color: rgba(12, 11, 11, 0.856);
  height: 200px;
  position: relative;
}
.footer-left__font{
  color: white;
  padding-left: 10%;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-top: 95px;
}
.footer-right__font1{
  color: white;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration:none;
  width:90px;
  padding-right: 20%;
  line-height: 20px;
}
.footer-right__font2{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border:none;
}
.footer-right__font3{
  color: white;
  text-decoration:none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
}